@{
    ViewData["Title"] = "Home";
    ViewData["Page Heading"] = "Welcome to the IS 413 Entertainment Agency Website!";
}

<div class="container d-flex justify-content-lg-center p-3">
    <img src="~/img/aspnet.png" class="img-fluid" />
</div>
